{{#*inline "content"}}

<style>
    {{embed "embed/notes.css"}}
    {{ embed "style/highlightjs.css" }}
</style>

<article class="card">
    <h1>{{ note_title filename }}</h1>
    <p class="author">by {{ note_author filename }} | {{ note_date filename }}</p>
    {{ note filename }}
</article>

<script src="/static/highlight.js"></script>
<script>hljs.highlightAll();</script>

{{/inline}}
{{> base}}